services:
  cache:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    command: redis-server
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - lobhunter

  backend:
    build:
      context: ./backend
    command: >
      sh -c "python manage.py migrate &&
      uvicorn core.asgi:application --host 0.0.0.0 --port 8000"
    # Allow python print to be seen
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - lobhunter
  db:
    image: postgres:13.4
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - lobhunter

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - lobhunter
networks:
  lobhunter:
    driver: bridge
